
{{#if success_msg}}
  <script>
    UIkit.notification({message: '{{renameTextByUpdatePassword success_msg}}…', status: 'success'}) 
     </script>
{{/if}}
{{#if error_msg}}
  <script>
    UIkit.notification({message: '{{renameTextByUpdatePassword error_msg}}…', status: 'danger'})
  </script>
{{/if}}
{{!-- {{#if success_msg}}
  <button
    hidden
    id="alertS"
    class="uk-button uk-button-default demo"
    type="button"
    onclick="UIkit.notification({message: '{{renameTextByUpdatePassword success_msg}}…', status: 'success'})"
  >With icon</button>
  <script>
    let element = document.querySelector('#alertS').onclick(true);
  </script>
{{/if}}
{{#if error_msg}}
  <button
    hidden
    id="alertE"
    class="uk-button uk-button-default demo"
    type="button"
    onclick="UIkit.notification({message: '{{renameTextByUpdatePassword error_msg}}…', status: 'danger'})"
  >With icon</button>
  <script>
    let element = document.querySelector('#alertE').onclick(true);
  </script>
{{/if}} --}}
