
{{#if errors}}
  <button
    hidden
    id="alert"
    class="uk-button uk-button-default demo"
    type="button"
    onclick="UIkit.notification({message: `
        {{#each errors}}
             {{text}} <br>
             {{/each}}
    `, status: 'danger'})"
  >With icon</button>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
    let element = document.querySelector('#alert').onclick(true);
    })
  </script>
{{/if}}
{{#if error_msg}}
  <button
    hidden
    id="alertE"
    class="uk-button uk-button-default demo"
    type="button"
    onclick="UIkit.notification({message: `
             {{error_msg}}
    `, status: 'danger'})"
  >With icon</button>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
    let element = document.querySelector('#alertE').onclick(true);
    })
  </script>
{{/if}}
{{#if success_msg}}
  <button
    hidden
    id="alertS"
    class="uk-button uk-button-default demo"
    type="button"
    onclick="UIkit.notification({message: `
              {{success_msg}}
    `, status: 'success'})"
  >With icon</button>
  <script>
    document.addEventListener('DOMContentLoaded', function (){
    let element = document.querySelector('#alertS').onclick(true);
    })
  </script>
{{/if}}