{{! account }}
<div class="uk-card uk-card-default uk-width-1-2@m m-auto" style="">
  <div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <img
          class="uk-border-circle"
          width="40"
          height="40"
          src="http://gravatar.com/avatar/{{this.userEmail}}?d=monsterid&s=45"
          alt="Avatar"
        />
      </div>
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{username}}</h3>
        <p class="uk-text-meta uk-margin-remove-top"><time
            datetime="2016-04-01T19:00"
          >{{showDateByProfileUser userDate}}</time></p>
      </div>
    </div>
  </div>
  <div class="uk-card-body word-break" style="">
      Mi correo eléctronico:
      {{userEmail}}
  </div>
  <div class="uk-card-footer">
    <button class="uk-button uk-button-text  uk-margin-small-right"  uk-toggle="target: #modal-example" id="openForm">Cambiar contraseña</button>
  </div>
</div>
{{! account }}
{{! password }}
<div id="modal-example" class="" uk-modal>
    <div class="uk-modal-dialog uk-modal-body bg-dull">
        <h2 class="uk-modal-title uk-text-center">Ingrese una nueva contraseña</h2>

<form
  id="updatePassword"
  action="/users/update-password"
  method="post"
  style=""
>

  <div class="uk-margin">
    <div class="uk-inline w-100">
      <a class="uk-form-icon uk-form-icon-flip cursor-pointer" uk-icon="icon: lock"></a>
      <input
        class="uk-input"
        type="password"
        aria-label="Not clickable icon"
        placeholder="*****"
        name="currentPassword"
        required
      />
    </div>
  </div>


</form>

  <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary btn-send" form="updatePassword" type="submit">Enviar</button>
        </p>
    </div>
</div>


<script type="module" src="/js/account.js "></script>
{{> messageAccount}}