{{! articles }}
<div class="isPagination" align="center"></div>
<main class="section sectionArticles">
  {{#each articles}}
    <div
      class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
      uk-grid
    >
      <div class="uk-cover-container">
        <img src="/uploads/{{imageUrl}}" alt="" uk-cover />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Venta</h3>
          <p>{{description}}.</p>
          <time datetime="{{createdAt}}"></time>

        </div>
      </div>
    </div>
  {{/each}}
</main>{{! articles }}

<script type="module" src="/js/articleHome.js"></script>