<!-- article -->
<div class="uk-child-width-expand@s m-auto" style="" uk-grid>
  <div class="uk-grid-item-match">
    <div class="uk-card uk-card-default uk-card-body">
      <form
        method="post"
        action="/users/uploadImage"
        enctype="multipart/form-data"
      >
        <fieldset class="uk-fieldset">

          <legend class="uk-legend">Artículo a vender</legend>
          <div class="uk-margin">
            <textarea
              class="uk-textarea textarea"
              name="description"
              minlength="2"
              maxlength="300" 
              rows="5"
              placeholder="Descripción"
              aria-label="Textarea"
              autofocus
              required
            ></textarea>
          </div>

          <div class="uk-margin">
            <div uk-form-custom>
              <input
                type="file"
                name="image"
                aria-label="Custom controls"
                accept=".jpg, .jpeg, .png , .webp"
                required
              />
              <dl class="uk-description-list">
    <dd>Se aceptan imágenes de tipo jpg, jpeg, png o webp</dd>
    <div class="showPreview" ></div>
      </dl>
              <button
                class="uk-button uk-button-default"
                type="button"
                tabindex="-1"
              >Seleccionar imagen</button>
            </div>
          </div>
        </fieldset>

        <button
          class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom buttonSend"
          type="submit"
        >Publicar</button></form>

    </div>
  </div>
  <div>
    <h3 style="" class="color-inherit">Mis artículos</h3>
    <p>
   Cantidad de artículos ofertados: {{this.articles.length}}
    </p>
    <article class="section overflow-y-scroll" style="">
      {{#each articles}}
        <div
          class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
          uk-grid
        >
          <div class="uk-cover-container">
            <img src="/uploads/{{imageUrl}}" alt="" uk-cover />
            <canvas width="600" height="400"></canvas>
          </div>
          <div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">Venta</h3>
              <p>{{description}}.</p>
            </div>
          </div>
        </div>
      {{/each}}
    </article>

  </div>
</div>
<!-- article -->
{{> messageArticulo}}
<script type="module" src="/js/articulo.js"></script>

