<div
  class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
  uk-grid
>
  <div class="uk-card-media-left uk-cover-container">
    <img
      src="/images/photoShop.webp"
      alt=""
      uk-cover
    />
    <canvas width="600" height="400"></canvas>
  </div>
  <div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Electronicos</h3>
      <p>Compra y vende fácilmente artículos.</p>
    </div>
  </div>
</div>

<div
  class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
  uk-grid
>
  <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
    <img
      src="/images/photoShop.webp"
      alt=""
      uk-cover
    />
    <canvas width="600" height="400"></canvas>
  </div>
  <div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Ropa</h3>
      <p>Compra y vende fácilmente artículos .</p>
    </div>
  </div>
</div>
<article class="section">
  {{#each articles}}
    <div
      class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
      uk-grid
    >
      <div class="uk-cover-container">
        <img src="/uploads/{{imageUrl}}" alt="" uk-cover />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Venta</h3>
          <p>{{description}}.</p>
          <time datetime="{{createdAt}}">{{createdAt}}</time>
        </div>
      </div>
    </div>
  {{/each}}
</article>