<!-- signUp -->
<br /><br /><br />
<form
  action="/users/signUp"
  method="post"
  id="signUpForm"
  class="signUpForm"
>
  <legend class="uk-legend uk-text-center">Crear cuenta</legend>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input
        class="uk-input"
        type="text"
        aria-label="Not clickable icon"
        placeholder="Usuario"
        name="name"
        id="inputName"
        autofocus
        required
      />
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input"
        type="email"
        aria-label="Not clickable icon"
        placeholder="example@gmail.com"
        name="email"
        required
        id="inputEmail"
      />
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <a class="uk-form-icon uk-form-icon-flip cursor-pointer" uk-icon="icon: lock"></a>
      <input
        class="uk-input"
        type="password"
        aria-label="Not clickable icon"
        placeholder="Contraseña"
        name="password"
        autocomplete="off"
        required
        id="inputPassword"
      />
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input
        class="uk-input"
        type="password"
        aria-label="Not clickable icon"
        placeholder="Confirmar contraseña"
        autocomplete="off"
        name="confirm_password"
        required
        id="inputConfirmPassword"
      />
    </div>
  </div>

  <button
  id="signUpButton"
    class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
  >Crear cuenta</button>

  <hr />
  <div style="" class="uk-flex uk-flex-center gap-20">
    <p>Ya tienes cuenta?</p>
    <a href="/users/signIn">Iniciar</a>
  </div>
</form>
<!-- signUp -->

{{> messageSignup }}
<script type="module" src="/js/signUp.js"></script>