<!-- signIn -->

<div >
<div class="contentSignIn">

<div class="lateral">
  <div class="uk-flex uk-flex-center uk-flex-column uk-align-center uk-padding-large">

  <img src="/img/article.svg" style="filter: drop-shadow(16px 16px 20px gray) invert(45%);" class="uk-width-small uk-height-small" alt="Logo">
  <h1 class="color-inherit">Compra y vende fácilmente artículos
  </div>
</h1>
</div>

<div class="form">

<form
  id="signInForm"
  action="/users/signIn"
  method="post"
  class="formSignIn"
>
  <legend class="uk-legend uk-text-center">Iniciar sesión</legend>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input"
        type="email"
        aria-label="Not clickable icon"
        placeholder="example@gmail.com"
        name="email"
        autofocus
        id="inputEmail"
        required
      />
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <a class="uk-form-icon uk-form-icon-flip cursor-pointer" uk-icon="icon: lock"></a>
      <input
        class="uk-input"
        type="password"
        aria-label="Not clickable icon"
        placeholder="******"
        autocomplete="off"
        name="password"
        id="inputPassword"
        required
      />
    </div>
  </div>

  <button
    class="uk-button uk-button-primary uk-margin-small-bottom"
    id="signInButton"
    type="submit"
  >Ingresar</button>

  <hr align="center" />
  <div  class="uk-flex uk-flex-center gap-20 ">
    <p>
      Aun no tienes cuenta?
    </p>
    <a href="/users/signUp">Crear cuenta</a>
  </div>
  <hr align="center" />
</form>
<!-- signIn -->

<br />

{{!-- password --}}
<div align="center" style="" class="gap-20 uk-margin-auto">
  <p>Olvidaste tu contraseña?</p>
  <button class="uk-button uk-button-text color-inherit uk-button uk-button-default uk-margin-small-right" id="btnRecover" style=""  type="button" uk-toggle="target: #modal-example">✅ Recuperar cuenta</button>
</div>

<!-- This is the modal -->
<div id="modal-example" class="" uk-modal>
    <div class="uk-modal-dialog uk-modal-body bg-dull">
        <h2 class="uk-modal-title uk-text-center">Ingrese su email para recuperar su contraseña</h2>
<form
  id="receivedAccount"
  action="/users/forgot-password"
  method="post"
  style=""

>

<div style="" class="uk-flex uk-flex-center">

</div>
  <div class="uk-margin flex uk-flex-center">
    <div class="uk-inline w-100">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <input
        class="uk-input"
        type="email"
        aria-label="Not clickable icon"
        placeholder="example@gmail.com"
        name="email"        
        autofocus
        required
      />
    </div>
  </div>


</form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
            <button class="uk-button uk-button-primary btn-send" form="receivedAccount" type="submit">Enviar</button>
        </p>
    </div>
</div>
</div>
</div>
</div>

{{!-- password --}}

{{> messageSignIn }}

<script type="module" src="/js/signIn.js"></script>